
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  
}

main {
  display: grid;
  grid-gap: 0rem;
  grid-template-areas:
    "first first"
    "second second"
    "third third"
    "fourth fourth"
    "fifth fifth"
    "sixth sixth"
    "footer footer";

  grid-template-columns: 100%;
  grid-template-rows: 150vh 70vh 70vh 110vh 100vh 130vh 0vh;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
}



footer {
  grid-area: footer;
  display: flex;
  background-color: #852323;

}


