* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

main {
  display: grid;
  grid-gap: 0rem;
  grid-template-areas:
    "first first"
    "second second"
    "third third"
    "fourth fourth"
    "fifth fifth"
    "sixth sixth"
    "footer footer";

  grid-template-columns: 100%;
  grid-template-rows: 150vh 70vh 70vh 110vh 100vh 130vh 0vh;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
}

@media (max-width: 950px) {
  main {
    grid-template-rows: 180vh 70vh 70vh 110vh 100vh 130vh 0vh;
  }
}

@media (max-width: 850px) {
  main {
    grid-template-rows: 215vh 70vh 70vh 110vh 100vh 130vh 0vh;
  }
}

@media (max-width: 780px) {
  main {
    grid-template-rows: 230vh 70vh 70vh 110vh 100vh 130vh 0vh;
  }
}

@media (max-width: 500px) {
  main {
    grid-template-rows: 280vh 70vh 70vh 110vh 100vh 130vh 0vh;
  }
}

@media (max-width: 400px) {
  main {
    grid-template-rows: 310vh 70vh 70vh 110vh 100vh 130vh 0vh;
  }
}

@media (max-width: 380px) {
  main {
    grid-template-rows: 350vh 70vh 70vh 110vh 100vh 130vh 0vh;
  }
}

footer {
  grid-area: footer;
  display: flex;
  background-color: #852323;
}
