// --- 🎨 Color palette --- //

$default: #868686a8;
$primary: #d0b485;
$secondary: #ffc553;
$tertiary: #c59845;
$white: #ffffff;
$black: #4f4f4e;
$gray: #a7a4a4;

// ---  Mixins Classes --- //

@mixin flexbox($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin type($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

// ---  Mixins Media Query --- //

@mixin screen-xl {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin screen-lg {
  @media (max-width: 1150px) {
    @content;
  }
}

@mixin screen-md {
  @media (max-width: 950px) {
    @content;
  }
}

@mixin screen-sm {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin screen-xs {
  @media (max-width: 400px) {
    @content;
  }
}

// --- 🖋️ Typographical --- //

.title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: $black;

  @include screen-xl {
    font-size: 40px;
  }
  @include screen-lg {
    font-size: 30px;
    line-height: 40px;
  }

  @include screen-md {
    font-size: 40px;
    line-height: 60px;
  }
  @include screen-sm {
    font-size: 32px;
    line-height: 40px;
  }
  @include screen-xs {
    font-size: 30px;
    line-height: 40px;
  }
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $gray;
  @include screen-md() {
    font-size: 25px;
    line-height: 38px;
  }

  @include screen-sm {
    font-size: 20px;
    line-height: 32px;
  }
}

// --- 🖼️ Classes --- //

.first-section {
  @include flexbox(flex-start, flex-start, column);
  grid-area: first;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include screen-md {
    background-position: left;
  }

  header {
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    @include screen-lg() {
      padding: 0px 50px;
      padding-top: 15px;
    }

    @include screen-sm {
      padding: 0px 30px;
      padding-top: 5px;
    }

    .first-image {
      @include screen-sm {
        display: none;
      }
    }

    .first-image-mobile {
      display: none;
      @include screen-sm {
        display: flex;
        height: auto;
        width: 45px;
      }
    }

    .pack-nav {
      @include flexbox(space-between, center, row);
      width: 46%;
      @include screen-xl {
        width: 60%;
      }
      @include screen-lg {
        width: 65%;
      }
      @include screen-sm {
        width: 20%;
      }

      nav {
        width: 350px;
        @include flexbox(space-between, center, row);

        .nav-link {
          @include type(400, 15px, 24px, $white);
        }
        @include screen-md {
          display: none;
        }
      }
    }
    .nav-btn {
      padding: 10px;
      @include flexbox(center, center, row);
      @include type(600, 14px, 20px, $tertiary);
      width: 185px;
      height: 43px;
      background: #ffffff;
      border-radius: 10px;
      margin-left: 25px;
      filter: drop-shadow(0px 0px 50px #ffffff);

      @include screen-sm {
        display: none;
      }

      // @include screen-xs {
      //   width: 160px;
      //   height: 40px;
      // }
    }

    .btn-country {
      @include screen-sm {
        width: 130px;
        justify-content: space-between;
      }
    }

    .btn-mobile {
      display: none;

      @include screen-md {
        display: flex;
        // sssss
        border: none;
        min-width: 40px;
        min-height: 40px;
        background-color: transparent;
        background-image: url("../public/menu-mobile.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: 30px;
      }
      @include screen-sm {
        margin-left: 0px;
        min-width: 35px;
        min-height: 35px;
      }
      @include screen-xs {
        min-width: 30px;
        min-height: 30px;
      }
    }
  }

  .first-box-headline {
    @include flexbox(flex-end, flex-start, column);
    height: 75vh;
    width: 60%;
    padding: 0px 100px 0px 180px;

    @include screen-xl {
      padding: 0px 80px 0px 150px;
    }
    @include screen-lg {
      padding: 0px 0px 0px 110px;
      height: 70%;
    }
    @include screen-md {
      padding: 0px 60px 0px 60px;
      height: 60%;
      width: 100%;
      @include flexbox(flex-end, center, column);
    }
    @include screen-sm {
      padding: 0px 15px 0px 15px;
      height: 70%;
    }
    @include screen-xs {
      padding: 0px 15px 0px 15px;
      height: 75%;
    }

    @media (max-width: 380px) {
      height: 70%;
    }
    @media (max-width: 365px) {
      height: 80%;
    }

    h1 {
      @include type(700, 60px, 70px, $white);
      @include screen-xl {
        @include type(700, 50px, 70px, $white);
      }
      @include screen-lg() {
        @include type(700, 40px, 50px, $white);
      }
      @include screen-md() {
        @include type(700, 70px, 85px, $white);
        text-align: center;
      }

      @media (max-width: 850px) {
        @include type(700, 65px, 85px, $white);
      }

      @media (max-width: 780px) {
        @include type(700, 60px, 85px, $white);
      }
      @include screen-sm {
        @include type(700, 45px, 60px, $white);
      }
      @include screen-xs {
        @include type(700, 45px, 55px, $white);
      }

      span {
        color: $secondary;
      }
    }

    p {
      @extend .paragraph;
      color: $white;
      margin: 40px 0px;

      @include screen-md {
        text-align: center;
      }
    }

    a {
      @include flexbox(center, center, row);
      background: #ffffff;
      border-radius: 8px;
      filter: drop-shadow(0px 4px 50px #ffffff);
      padding: 20px 30px;
      @include type(600, 15px, 24px, $tertiary);
      transition: all 1s;

      @include screen-md {
        padding: 30px 200px;
        @include type(600, 23px, 24px, $tertiary);
      }
      @include screen-sm {
        padding: 30px 50px;
        @include type(600, 23px, 24px, $tertiary);
      }
      @include screen-xs {
        padding: 30px 30px;
        @include type(600, 20px, 24px, $tertiary);
      }

      &:hover {
        background: #e6e6e6;

        img {
          position: relative;
          left: 6px;
        }
      }

      img {
        margin-left: 8px;
        transition: all 1s;
      }
    }
  }

  .first-box-cards {
    @include flexbox(space-evenly, center, row);
    width: 100%;
    height: 40%;
    padding: 0px 165px;

    @include screen-xl {
      height: 40%;
      // @include flexbox(space-evenly, center, column);
      padding: 0px 0px;
      padding-top: 70px;
    }

    @include screen-lg {
      height: 40%;
      // @include flexbox(space-evenly, center, column);
      padding: 0px 0px;
      padding-top: 70px;
    }

    @include screen-md {
      height: 70%;
      @include flexbox(space-evenly, center, column);
      padding: 0px 0px;
      padding-top: 70px;
    }

    .first-card {
      width: 364px;
      min-height: 300px;
      height: auto;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(7.5px);
      border-radius: 5px;
      @include flexbox(center, flex-start, row);
      padding-top: 35px;

      @include screen-lg {
        width: 320px;
        min-height: 320px;
        padding-right: 20px;
      }

      @include screen-md {
        padding-top: 50px;

        width: 750px;
        min-height: 400px;
      }

      @media (max-width: 780px) {
        width: 700px;
      }

      @include screen-sm {
        padding-top: 50px;

        width: 92%;
        min-height: 500px;
      }

      img {
        margin-right: 15px;
        @include screen-md {
          width: 15%;
          height: auto;
        }
      }

      div {
        width: 230px;
        @include screen-lg {
          width: 180px;
        }
        @include screen-md {
          width: 70%;
        }

        h2 {
          @include type(600, 21px, 33px, $white);
          margin: 10px 0px;

          @include screen-md {
            @include type(600, 35px, 33px, $white);
          }
          @include screen-sm {
            @include type(600, 28px, 33px, $white);
          }
        }

        p {
          @include type(400, 14px, 20px, $white);
          @include screen-md {
            @include type(400, 22px, 40px, $white);
          }
          @include screen-sm {
            @include type(400, 18px, 30px, $white);
          }
        }
      }
    }
  }
}

.second-section {
  grid-area: second;
  @include flexbox(center, center, row);
  @include screen-md {
    @include flexbox(center, center, column);
  }
  img {
    @include screen-sm {
      width: 90%;
    }
  }

  div {
    width: 35%;
    height: auto;
    margin-left: 75px;

    @include screen-md {
      @include flexbox(inherit, inherit, inherit);
      width: 70%;
      margin-left: 0px;
      text-align: center;
      margin-top: 50px;
    }
    @include screen-sm {
      width: 90%;
      margin-top: 15px;
    }

    h1 {
      @extend .title;
      margin-bottom: 5%;

      span {
        color: #ffc553;
      }
    }

    p {
      @extend .paragraph;
      margin: 0px 0px;
    }

    a {
      @include flexbox(center, center, row);
      background: $primary;
      border-radius: 8px;
      filter: drop-shadow(0px 4px 50px #ffffff);
      padding: 20px 30px;
      @include type(600, 15px, 24px, $white);
      transition: all 1s;
      width: 300px;
      margin-top: 5%;

      &:hover {
        background: #e6e6e6;
      }
    }
  }
}

.third-section {
  grid-area: third;
  @include flexbox(center, center, row);
  @include screen-md {
    @include flexbox(center, center, column-reverse);
  }

  img {
    @include screen-sm {
      width: 90%;
    }
  }

  div {
    width: 35%;
    height: auto;
    margin-right: 75px;
    text-align: end;
    @include screen-md {
      @include flexbox(inherit, inherit, inherit);
      @include flexbox(center, center, column);

      width: 70%;
      margin-right: 0px;
      text-align: center;
      margin-top: 50px;
    }

    @include screen-sm {
      width: 90%;
      margin-top: 15px;
    }

    h1 {
      @extend .title;

      span {
        color: #ffc553;
      }
    }

    p {
      @extend .paragraph;
      margin: 30px 0px;
    }
  }
}

.fourth-section {
  grid-area: fourth;
  @include flexbox(center, center, row);

  .fourth-frame {
    @include flexbox(center, center, column);

    background-color: #4f4f4e;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background-image: url("/background-cards.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
      @extend .title;
      color: $white;
      width: 50%;
      text-align: center;

      @include screen-md {
        width: 80%;
      }
      @include screen-sm {
        width: 90%;
      }
    }

    p {
      @extend .paragraph;
      color: $white;
      width: 50%;
      text-align: center;

      margin: 30px 0px;
      @include screen-md {
        width: 80%;
      }
      @include screen-sm {
        width: 90%;
      }
    }

    .row-cards {
      @include flexbox(space-evenly, center, row);
      width: 100%;
      height: auto;
      padding: 0px 70px;

      @include screen-lg {
        padding: 0px 30px;
        @include flexbox(space-between, center, column);
      }

      div {
        @include flexbox(center, center, column);
        width: 354px;
        height: 414px;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7.5px);
        border-radius: 10px;
        @include screen-xl {
          width: 320px;
        }
        @include screen-lg {
          margin-bottom: 30px;
        }
        @include screen-sm {
          width: 335px;
        }

        @include screen-xs {
          width: 300px;
        }

        img {
          height: auto;
          width: 30%;
        }

        h2 {
          @include type(600, 26px, 125%, $white);
          margin-top: 10px;
        }

        p {
          @include type(400, 16px, 150%, $white);
          width: 80%;
          margin-top: 10px;
        }
      }
    }
  }
}

.fifth-section {
  grid-area: fifth;
  @include flexbox(center, center, row);
  padding-top: 50px;

  .fifth-frame {
    @include flexbox(flex-start, center, column);
    width: 90%;
    border: solid 2px #d9d9d9;
    border-radius: 20px;
    height: 85%;

    .nav-select {
      @include flexbox(space-evenly, center, row);
      width: 60%;
      border: solid 2px #d9d9d9;
      border-radius: 20px;
      height: 120px;
      position: relative;
      background-color: white;
      z-index: 20;
      top: -50px;

      @include screen-md {
        width: 80%;
        height: 150px;
      }
      @include screen-sm {
        width: 80%;
        height: 300px;
        @include flexbox(space-evenly, center, column);
      }

      .radio {
        input[type="radio"] {
          display: none;
        }

        label {
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid #ccc;
          cursor: pointer;
          user-select: none;
          background-color: #e0e012;
        }

        .button-label {
          @include type(500, 18px, 20px, $gray);
          transition: all 0.5s;
        }

        input[type="radio"]:checked + .button-label {
          @include flexbox(center, center, row);
          @include type(600, 18px, 20px, $white);
          padding: 15px 30px;
          background: #d0b485;
          border-radius: 10px;
        }
      }
    }

    .main-select {
      @include flexbox(center, flex-start, row);
      width: 100%;
      height: 100%;
      margin-top: 30px;

      @include screen-md {
        @include flexbox(center, center, column);
        margin-top: 0px;
      }
      @include screen-sm {
        @include flexbox(flex-start, center, column);
        margin-top: 0px;
      }

      img {
        height: auto;
        @include screen-xl {
          width: 40%;
        }
        @include screen-md {
          width: 60%;
          margin-bottom: 50px;
        }

        @include screen-sm {
          width: 85%;
          margin-bottom: 10px;
        }
      }

      div {
        width: 35%;
        height: auto;
        margin-left: 75px;

        @include screen-xl {
          width: 40%;
        }
        @include screen-md {
          width: 80%;
          text-align: center;
          @include flexbox(center, center, column);
          margin-left: 0px;
        }

        @include screen-xs() {
          width: 90%;
        }

        h1 {
          @extend .title;
          margin-bottom: 20px;

          span {
            color: #ffc553;
          }
        }

        p {
          @extend .paragraph;
          margin: 0px 0px;
        }

        h2 {
          @include type(600, 20px, 30px, $black);
          margin-bottom: 15px;
          @include flexbox(flex-start, center, row);
          img {
            height: auto;
            width: 30px;
            margin-right: 15px;
            margin-top: 10px;
          }
          p {
            @include type(400, 18px, 28px, $gray);
          }
        }
      }
    }
  }
}

.sixth-section {
  grid-area: sixth;
  @include flexbox(center, center, column);

  h1 {
    @extend .title;
    text-align: center;
    width: 40%;

    @include screen-xl {
      width: 60%;
      margin-bottom: 30px;
    }
    @include screen-md {
      width: 70%;
    }
    @include screen-sm {
      width: 90%;
    }
  }

  .sixth-paragraph {
    @extend .paragraph;
    text-align: center;
    width: 40%;
    @include screen-xl {
      width: 60%;
    }
    @include screen-md {
      width: 70%;
    }
    @include screen-sm {
      width: 90%;
    }
  }

  .sixth-frame {
    @include flexbox(center, flex-start, row);
    width: 100%;
    height: auto;
    padding-top: 70px;
    @include screen-md {
      @include flexbox(center, center, column);
    }
    .sixth-divider {
      width: 0px;
      height: 500px;
      border: 1px solid $gray;
      margin: 0px 50px;
      @include screen-md {
        display: none;
      }
    }

    .sixth-card {
      width: 30%;
      height: auto;
      @include flexbox(center, flex-start, column);
      @include screen-xl {
        width: 35%;
      }
      @include screen-lg {
        width: 35%;
      }
      @include screen-md {
        width: 70%;
        margin-bottom: 60px;
      }
      @include screen-sm {
        margin-bottom: 80px;
        width: 80%;
      }

      img {
        height: auto;
        width: 120px;
        align-self: center;
        margin-bottom: 15px;
      }

      div {
        margin-bottom: 0px;

        h2 {
          @include type(600, 20px, 30px, $black);
          margin-bottom: 15px;
          @include flexbox(center, center, row);
          img {
            height: auto;
            width: 30px;
            margin-right: 15px;
            margin-top: 10px;
          }
          p {
            @include type(400, 18px, 28px, $gray);
          }
        }
      }
    }
  }
}

.seventh-section {
  grid-area: seventh;
  @include flexbox(center, center, column);

  div {
    background-image: url("/back-bottom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 300px;
    border-radius: 20px;
    @include flexbox(center, flex-start, column);
    padding-left: 75px;

    @include screen-sm {
      padding-left: 0px;
      @include flexbox(center, center, column);
      text-align: center;
    }

    h1 {
      @include type(600, 35px, 45px, $white);
      margin-bottom: 20px;
      @include screen-sm {
        @include type(600, 30px, 40px, $white);
      }
    }

    a {
      @include flexbox(center, center, row);
      background: $white;
      border-radius: 8px;
      padding: 16px 26px;
      @include type(600, 16px, 24px, $secondary);
      transition: all 1s;
      width: 300px;

      &:hover {
        background: #e6e6e6;
      }
    }
  }
}

.footer {
  grid-area: footer;
  background-color: #e8e8e8;
  @include flexbox(center, center, column);
  .footer-frame {
    @include flexbox(space-between, center, row);
    padding: 0px 5%;
    width: 100%;
    height: auto;

    .card-info {
      @include flexbox(flex-start, flex-start, column);

      @include screen-sm {
        width: 50%;
      }
      img {
        margin-bottom: 15px;
        @include screen-sm {
          width: 50%;
          height: auto;
        }
      }
      p {
        @include type(400, 16px, 20px, $gray);
        margin-bottom: 15px;
      }

      div {
        width: 100%;
        @include flexbox(space-evenly, center, row);
      }
    }
    .card-link {
      @include flexbox(center, flex-start, column);

      h1 {
        @include type(600, 18px, 20px, $black);
        margin-bottom: 10px;
      }

      a {
        @include type(400, 16px, 30px, $gray);
      }
    }
  }

  .footer-divider {
    width: 90%;
    height: 0px;
    border: 1px solid #b5b5b5;
    margin: 30px 0px;
  }

  .footer-copy {
    p {
      @include type(400, 16px, 20px, $gray);
    }
  }
}
